
@import 'font-awesome/less/font-awesome.less';


@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.padded-container {
  padding: 0 20px 20px;
}
// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'main/main.less';
@import 'my-news/my-news.less';
@import 'my-stories/my-stories.less';
@import 'report/report.less';
// endinjector
