<header class="subhead" id="subhead"><div class="subhead-breadcrumb pull-left"><a href="/">Home</a>
  &nbsp;&nbsp;/&nbsp;&nbsp;<a href="/my-news/">My News</a>
  <!--&nbsp;&nbsp;/&nbsp;&nbsp;<a href="/categories/news/local/">Local</a>-->

</div></header>


  <div class="span12">

    <h1 class="story-section">My News</h1>
<!--        <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
          <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
        </ul>

      <form class="thing-form">
        <label>Syncs in realtime across clients</label>
        <p class="input-group">
          <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
        </p>
      </form>

-->
    <div class="story myStory" ng-repeat="story in storiesList | orderBy:'distance'">
      <span>{{ story.distance }} mi</span>
      <h4 class="story-title"><a href="#">{{ story.headline }}</a></h4>
      <p>{{ story.summary }}</p>
    </div>
  </div>

<div class="span12">
  <div class="myNewsTabs">
    <div class="mapView"><a href="/my-news-map">Map View</a></div>
    <div class="listView"><a href="/my-news" class="active">List View</a></div>
  </div>
</div>
